<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783321990255-jail5qn799m0j5lb8srv2qver39cjpdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783321990255-jail5qn799m0j5lb8srv2qver39cjpdq</string>
	<key>API_KEY</key>
	<string>AIzaSyDaRS3zbi9MEv3vd9WUrQDGcLliZOnDA-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>783321990255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tek4tv.VTCNews</string>
	<key>PROJECT_ID</key>
	<string>testnotify-74bdb</string>
	<key>STORAGE_BUCKET</key>
	<string>testnotify-74bdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783321990255:ios:d64e230fd109699be7399a</string>
</dict>
</plist>